@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@1,700&display=swap');

*{
  font-family: 'Bebas Neue', sans-serif;
}

/* Styles pour la barre de navigation */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  
  .search-bar {
    display: flex;
    margin-left: 65%;
    margin-top: 2%;
  }
  
  .Deconnexion {
    margin-left: 10px; /* Marge à gauche pour l'espacement */
  }
  
  .Deconnexion img {
    width: 40px;
    margin-right: 50px;
  }
  
  .logo img {
    width: 80px;
  }
  
  .top-right-link {
    display: flex;
    align-items: center;
  }
  
  .top-right-link img {
    width: 40px;
    margin-right: 2px;
  }
  
  .Body {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .locations-list {
    max-width: 1200px;
    margin: 70px auto 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de se retourner à la ligne */
    justify-content: space-between; /* Les éléments sont répartis avec un espacement égal entre eux */
    align-items: stretch; /* Les éléments prennent toute la hauteur */
    position: sticky;
    top: 50px;
    z-index: 998;
    background-color: #d8e9e3;
  }
  
  .locations-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; /* Ajuste la largeur de la liste */
  }
  
  .locations-list li {
    width: calc(33.33% - 20px); /* Trois éléments par ligne */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Autres styles pour chaque élément */
  }
  .carr {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: calc(33.33% - 20px); /* Trois éléments par ligne avec une marge entre eux */
    margin-right: 20px; /* Ajoutez une marge à droite pour l'espacement entre les éléments */
  }
  
  .carr:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
  